*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.main_heading{
    background-color: white;
    text-align: center;
    
}
h1{
    font-size: 55px;
}

.btn{
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 10px;
    z-index: 100000;

    
}
